/* BASIC */
a, a:hover {
	color: #4F0C3E;
}

/* CONTAINER */
section#main {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8d9c+0,ffd1d7+100 */
	background: #bbf9e9; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #70c5bc 0%, #bbf9e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #70c5bc 0%,#bbf9e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #70c5bc 0%,#bbf9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70c5bc', endColorstr='#bbf9e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* FORM */
.form-control {
    color: #4F0C3E;
	border-color: #fff;
}

::placeholder {
    color: #4ca197!important;
    opacity: 1; 
}

:-ms-input-placeholder {
    color: #4ca197!important;
}

::-ms-input-placeholder {
    color: #4ca197!important;
}

.form-control:focus {
    color: #4F0C3E;
}

.button-submit:active:focus {
    background: #ECEFF1 !important;
    border-color: #ECEFF1 !important;
}

.button-submit-invert:active:focus {
    background: #4F0C3E !important;
    border-color: #4F0C3E !important;
}

/* CHATBOT CORE */
div.conv-form-wrapper  div#messages div.message.to {
    color: #00796B;
}

div.conv-form-wrapper div#messages div.message.from {
    color: #00796B;
}

div.conv-form-wrapper  div#messages div.option {
    color: #4F0C3E;
}

div.conv-form-wrapper  div#messages div.option div.shortcut-key {
    border: 1px solid #4F0C3E;
    color: #4F0C3E;
}

div.conv-form-wrapper  div#messages div.message.link a {
    background: #4F0C3E;
    color: #1DE9B6;
}

form.convFormDynamic button.btn-outline-secondary {
    background: #ECEFF1;
    border-color: #ECEFF1;
    color: #004C87;
}


/* MENU */
.menu-wrapper {
    background: #460a39;
    color: #fff;
    box-shadow: 0 20px 45px 0 rgba(0,150,136,0.20);
}

.input-group-text {
    color: #495057;
    background-color: #ECEFF1;
    border: 1px solid #ECEFF1;
}

.wrapper-user-input .logo {
    background: #4F0C3E;
    border-color: #4F0C3E;
}

.wrapper-user-input .logo-invert {
    background: #fff;
    border-color: #fff;
}

.wrapper-user-input .hamburger-wrapper-invert {
    background: #4F0C3E;
    border-color: #4F0C3E;
}

.wrapper-user-input .button-submit-invert {
    background: #4F0C3E !important;
    border-color: #4F0C3E !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #4F0C3E;
}

.hamburger-inner-invert, .hamburger-inner-invert::before, .hamburger-inner-invert::after {
    background-color: #1DE9B6;
}