/* BASIC */
body {
    color: #263238;
	background: #ffd4c6;
	background: -moz-linear-gradient(-45deg, #f5564a 0%, #ffd4c6 100%);
	background: -webkit-linear-gradient(-45deg, #f5564a 0%,#ffd4c6 100%);
	background: linear-gradient(135deg, #f5564a 0%,#ffd4c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5564a', endColorstr='#ffd4c6',GradientType=1 );
    background-attachment: fixed;
}

a, a:hover {
	color: #263238;
}

/* CONTAINER */
#main {
	background: #ffd4c6;
	background: -moz-linear-gradient(-45deg, #f5564a 0%, #ffd4c6 100%);
	background: -webkit-linear-gradient(-45deg, #f5564a 0%,#ffd4c6 100%);
	background: linear-gradient(135deg, #f5564a 0%,#ffd4c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5564a', endColorstr='#ffd4c6',GradientType=1 );
    background-attachment: fixed;
}

/* FORM */
.form-control {
    color: #263238;
	border-color: #fff;
}

::placeholder {
    color: #92989b!important;
    opacity: 1; 
}

:-ms-input-placeholder {
    color: #92989b!important;
}

::-ms-input-placeholder {
    color: #92989b!important;
}

.form-control:focus {
    color: #263238;
}

.button-submit:active:focus {
    background: #ECEFF1 !important;
    border-color: #ECEFF1 !important;
}

.button-submit-invert:active:focus {
    background: #263238 !important;
    border-color: #263238 !important;
}

/* CHATBOT CORE */
@-webkit-keyframes typing{
    0%{
        background-color: rgba(250,35,55, 1);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,0.2);
    }
    50% {
        background-color: rgba(250,35,55, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,1),
        24px 0px 0px 0px rgba(250,35,55,0.4);
    }
    100%{ background-color: rgba(250,35,55, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,1);
    }
}

@-moz-keyframes typing{
    0%{
        background-color: rgba(250,35,55, 1);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,0.2);
    }
    50% {
        background-color: rgba(250,35,55, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,1),
        24px 0px 0px 0px rgba(250,35,55,0.4);
    }
    100%{ background-color: rgba(250,35,55, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,1);
    }
}

@keyframes typing{
    0%{
        background-color: rgba(250,35,55, 1);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,0.2);
    }
    50% {
        background-color: rgba(250,35,55, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,1),
        24px 0px 0px 0px rgba(250,35,55,0.4);
    }
    100%{ background-color: rgba(250,35,55, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(250,35,55,0.4),
        24px 0px 0px 0px rgba(250,35,55,1);
    }
}

form.convFormDynamic {
    box-shadow: 0px 20px 45px 20px rgba(244,67,54,0.20);
}

div.conv-form-wrapper  div#messages div.message.to {
    color: #FA2337;
}

div.conv-form-wrapper div#messages div.message.from {
    color: #FA2337;
}

div.conv-form-wrapper  div#messages div.option {
    color: #263238;
}

div.conv-form-wrapper  div#messages div.option div.shortcut-key {
    border: 1px solid #FA2337;
    color: #FA2337;
}

div.conv-form-wrapper  div#messages div.message.link a {
    background: #263238;
    color: #FA2337;
}

form.convFormDynamic button.btn-outline-secondary {
    background: #ECEFF1;
    border-color: #ECEFF1;
    color: #263238;
}

.wrapper-user-input .button-arrow {
    background: url('../images/arrow_1_red.png') no-repeat center center;
    background-size: 33px;
}

.wrapper-user-input .button-arrow-invert {
    background: url('../images/arrow_2_red.png') no-repeat center center;
    background-size: 33px;
}

.user-input-highlight {
    border: 1px solid #FA2337;
}

.user-input-highlight .user-input-highlight-title {
    border-bottom: 1px solid #FA2337;
}

/* MENU */
.menu-wrapper {
    background: #202B31;
    color: #fff;
    box-shadow: 0 20px 45px 0 rgba(244,67,54,0.20);
}

.input-group-text {
    color: #495057;
    background-color: #ECEFF1;
    border: 1px solid #ECEFF1;
}

.wrapper-user-input .logo {
    background: #263238 url('../images/logo_1_red.png') no-repeat center center;
    border-color: #263238;
    background-size: 60px;
}

.wrapper-user-input .logo-invert {
    background: #fff url('../images/logo_2_red.png') no-repeat center center;
    border-color: #fff;
    background-size: 60px;
}

.wrapper-user-input .hamburger-wrapper-invert {
    background: #263238;
    border-color: #263238;
}

.wrapper-user-input .button-submit-invert {
    background: #263238 !important;
    border-color: #263238 !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #263238;
}

.hamburger-inner-invert, .hamburger-inner-invert::before, .hamburger-inner-invert::after {
    background-color: #FA2337;
}

.menu-col a:hover {
    color: #FA2337;
}

.menu-col-left {
    background: #263238;
}

.menu li {
    border-bottom: 1px solid #404a50;
}

.menu-shortcut-key {
    border: 1px solid #404a50;
    color: #404a50;
}

.menu li a:hover .menu-shortcut-key {
    border: 1px solid #FA2337;
    color: #263238;
    background: #FA2337;
}

/* SOCIAL FOOTER */
.social-footer-menu {
    border-top: 1px solid #404a50;
}

.social-footer-menu-item {
    border-right: 1px solid #404a50;
}

/* CONTENT & PAGES */
.elementor-container h1, 
.elementor-container h2, 
.elementor-container h3, 
.elementor-container h4, 
.elementor-container h5 {
    color:#FA2337;
}

.modal-wrapper.styled .modal .close-modal {
    background: #263238;
    color: #FA2337;
}

.modal-wrapper.styled .modal .close-modal:before,
.modal-wrapper.styled .modal .close-modal:after,
.close-modal-page:before, .close-modal-page:after {
    background-color: #FA2337;
}

.close-modal-page {
    background: #263238;
    color: #FA2337;
}

.modal-wrapper.styled {
	background: #ffd4c6;
	background: -moz-linear-gradient(-45deg, #f5564a 0%, #ffd4c6 100%);
	background: -webkit-linear-gradient(-45deg, #f5564a 0%,#ffd4c6 100%);
	background: linear-gradient(135deg, #f5564a 0%,#ffd4c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5564a', endColorstr='#ffd4c6',GradientType=1 );
    width: 100%;
}

/* CLIENTS */
.clients-hero-col .work-hero {
    background: #FFEBEE !important;
}

.clients-hero-col .clients-hero-hover {
    background: #FA2337 !important;
    background: -moz-linear-gradient(45deg, #FA2337 0%, #B71C1C 100%) !important;
    background: -webkit-linear-gradient(45deg, #FA2337 0%,#B71C1C 100%) !important;
    background: linear-gradient(45deg, #FA2337 0%,#B71C1C 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FA2337', endColorstr='#B71C1C',GradientType=1 ) !important;
}

/* BUTTONS */
.btn-primary {
    color: #FA2337;
    background-color: #263238;
    border-color: #263238;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #263238 !important;
    border-color: #263238 !important;
}

.btn-primary:hover {
    background-color: #202B31 !important;
    color: #FA2337;
    border-color: #202B31 !important;
}