/* BASIC */
body {
    color: #004C87;
	background: #ffd1d7;
	background: -moz-linear-gradient(-45deg, #ff8d9c 0%, #ffd1d7 100%);
	background: -webkit-linear-gradient(-45deg, #ff8d9c 0%,#ffd1d7 100%);
	background: linear-gradient(135deg, #ff8d9c 0%,#ffd1d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d9c', endColorstr='#ffd1d7',GradientType=1 );
    background-attachment: fixed;
}

a, a:hover {
	color: #004C87;
}

/* CONTAINER */
#main {
	background: #ffd1d7;
	background: -moz-linear-gradient(-45deg, #ff8d9c 0%, #ffd1d7 100%);
	background: -webkit-linear-gradient(-45deg, #ff8d9c 0%,#ffd1d7 100%);
	background: linear-gradient(135deg, #ff8d9c 0%,#ffd1d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d9c', endColorstr='#ffd1d7',GradientType=1 );
    background-attachment: fixed;
}

/* FORM */
.form-control {
    color: #004C87;
	border-color: #fff;
}

::placeholder {
    color: #FF8D9C!important;
    opacity: 1; 
}

:-ms-input-placeholder {
    color: #FF8D9C!important;
}

::-ms-input-placeholder {
    color: #FF8D9C!important;
}

.form-control:focus {
    color: #004C87;
}

.button-submit:active:focus {
    background: #ECEFF1 !important;
    border-color: #ECEFF1 !important;
}

.button-submit-invert:active:focus {
    background: #004C87 !important;
    border-color: #004C87 !important;
}

/* CHATBOT CORE */
@-webkit-keyframes typing{
    0%{
        background-color: rgba(194,24,91, 1);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,0.2);
    }
    50% {
        background-color: rgba(194,24,91, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,1),
        24px 0px 0px 0px rgba(194,24,91,0.4);
    }
    100%{ background-color: rgba(194,24,91, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,1);
    }
}

@-moz-keyframes typing{
    0%{
        background-color: rgba(194,24,91, 1);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,0.2);
    }
    50% {
        background-color: rgba(194,24,91, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,1),
        24px 0px 0px 0px rgba(194,24,91,0.4);
    }
    100%{ background-color: rgba(194,24,91, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,1);
    }
}

@keyframes typing{
    0%{
        background-color: rgba(194,24,91, 1);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,0.2);
    }
    50% {
        background-color: rgba(194,24,91, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,1),
        24px 0px 0px 0px rgba(194,24,91,0.4);
    }
    100%{ background-color: rgba(194,24,91, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(194,24,91,0.4),
        24px 0px 0px 0px rgba(194,24,91,1);
    }
}

form.convFormDynamic {
    box-shadow: 0px 20px 45px 20px rgba(161,63,76,0.20);
}

form.convFormDynamic.modal-shadow {
    box-shadow: 0px 10px 45px 10px rgba(55,71,79,0.20);
}

div.conv-form-wrapper  div#messages div.message.to {
    color: #C2185B;
}

div.conv-form-wrapper div#messages div.message.from {
    color: #C2185B;
}

div.conv-form-wrapper  div#messages div.option {
    color: #004C87;
}

div.conv-form-wrapper  div#messages div.option div.shortcut-key {
    border: 1px solid #004C87;
    color: #004C87;
}

div.conv-form-wrapper  div#messages div.message.link a {
    background: #004C87;
    color: #FF8D9C;
}

form.convFormDynamic button.btn-outline-secondary {
    background: #ECEFF1;
    border-color: #ECEFF1;
    color: #004C87;
}

.wrapper-user-input .button-arrow {
    background: url('../images/arrow_1_pink.png') no-repeat center center;
    background-size: 33px;
}

.wrapper-user-input .button-arrow-invert {
    background: url('../images/arrow_2_pink.png') no-repeat center center;
    background-size: 33px;
}

/* MENU */
.menu-wrapper {
    background: #00457C;
    color: #fff;
    box-shadow: 0 20px 45px 0 rgba(161,63,76,0.20);
}

.input-group-text {
    color: #495057;
    background-color: #ECEFF1;
    border: 1px solid #ECEFF1;
}

.wrapper-user-input .logo {
    background: #004C87 url('../images/logo_1_pink.png') no-repeat center center;
    border-color: #004C87;
    background-size: 60px;
}

.wrapper-user-input .logo-invert {
    background: #fff url('../images/logo_2_pink.png') no-repeat center center;
    border-color: #fff;
    background-size: 60px;
}

.wrapper-user-input .hamburger-wrapper-invert {
    background: #004C87;
    border-color: #004C87;
}

.wrapper-user-input .button-submit-invert {
    background: #004C87 !important;
    border-color: #004C87 !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #004C87;
}

.hamburger-inner-invert, .hamburger-inner-invert::before, .hamburger-inner-invert::after {
    background-color: #FF8D9C;
}

.menu-col a:hover {
    color: #FF8D9C;
}

.menu-col-left {
    background: #004C87;
}

.menu li {
    border-bottom: 1px solid #1f6195;
}

.menu-shortcut-key {
    border: 1px solid #1f6195;
    color: #1f6195;
}

.menu li a:hover .menu-shortcut-key {
    border: 1px solid #FF8D9C;
    color: #004C87;
    background: #FF8D9C;
}

/* SOCIAL FOOTER */
.social-footer-menu {
    border-top: 1px solid #1f6195;
}

.social-footer-menu-item {
    border-right: 1px solid #1f6195;
}

/* CONTENT & PAGES */
.elementor-container h1, 
.elementor-container h2, 
.elementor-container h3, 
.elementor-container h4, 
.elementor-container h5 {
    color:#C2185B;
}

.modal-wrapper.styled .modal .close-modal {
    background: #004C87;
    color: #FF8D9C;
}

.modal-wrapper.styled .modal .close-modal:before,
.modal-wrapper.styled .modal .close-modal:after,
.close-modal-page:before, .close-modal-page:after {
    background-color: #FF8D9C;
}

.close-modal-page {
    background: #004C87;
    color: #FF8D9C;
}

.modal-wrapper.styled {
	background: #ffd1d7;
	background: -moz-linear-gradient(-45deg, #ff8d9c 0%, #ffd1d7 100%);
	background: -webkit-linear-gradient(-45deg, #ff8d9c 0%,#ffd1d7 100%);
	background: linear-gradient(135deg, #ff8d9c 0%,#ffd1d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d9c', endColorstr='#ffd1d7',GradientType=1 );
    width: 100%;
}

/* BUTTONS */
.btn-primary {
    color: #FF8D9C;
    background-color: #004C87;
    border-color: #004C87;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #004C87 !important;
    border-color: #004C87 !important;
}

.btn-primary:hover {
    background-color: #00457C !important;
    color: #FF8D9C;
    border-color: #00457C !important;
}