* {
	font-family: 'Roboto', sans-serif;
}
html { 
    height:100%;
}
body { 
    min-height:100%;
}
html, body {
	font-size: 22px;
}

input, button, button:focus, span:focus {
	outline: none;
	box-shadow:none !important;
}

a, a:hover {
	color: #4F0C3E;
}

.container {
	max-width: 1330px;
}

.form-control {
    color: #4F0C3E;
	border-color: #fff;
	height: 70px;
}

::placeholder {
    color: #4ca197!important;
    opacity: 1; 
}

:-ms-input-placeholder {
    color: #4ca197!important;
}

::-ms-input-placeholder {
    color: #4ca197!important;
}

.form-control:focus {
    color: #4F0C3E;
    background-color: #fff;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


section#main {
    position: relative;
    padding: 0;
    min-height: 100vh;
	transition: height 9999s;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8d9c+0,ffd1d7+100 */
	background: #bbf9e9; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #70c5bc 0%, #bbf9e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #70c5bc 0%,#bbf9e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #70c5bc 0%,#bbf9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70c5bc', endColorstr='#bbf9e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}

/* MENU */
.menu-wrapper {
    display: none;
    background: #4F0C3E;
    height: 506px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group-text {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #ECEFF1;
    border: 1px solid #ECEFF1;
    border-radius: .25rem;
}

.wrapper-user-input .logo {
    background: #4F0C3E;
    border-color: #4F0C3E;
    width: 90px;
}

.wrapper-user-input .logo-invert {
    background: #fff;
    border-color: #fff;
}

.wrapper-user-input .logo img {
    max-width: 61px;
    width: 100%;
}

.wrapper-user-input .logo .logo-2 {
    display: none;
}

.wrapper-user-input .hamburger-wrapper {
    width: 70px;
    padding: 0px;
    border: none;
}

.wrapper-user-input .hamburger-wrapper-invert {
    background: #4F0C3E;
    border-color: #4F0C3E;
}

.wrapper-user-input .button-submit {
    width: 90px;
}

.wrapper-user-input .button-submit img {
    width: 33px;
}

.wrapper-user-input .button-submit .arrow-2 {
    display: none;
}

.wrapper-user-input .button-submit:hover {
    background: #4F0C3E;
    border-color: #4F0C3E;
}

.wrapper-user-input .button-submit-invert {
    background: #4F0C3E;
    border-color: #4F0C3E;
}

.no-left-border-bottom-radius {
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}

.no-right-border-bottom-radius {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 2px;
    background-color: #4F0C3E;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner-invert, .hamburger-inner-invert::before, .hamburger-inner-invert::after {
    background-color: #1DE9B6;
}

@media (max-width: 900px) {
    .container {
        max-width: 100%;
	}
	
	div.conv-form-wrapper div.message {
		max-width: 80%;
	}
}